@import './variables';

.clientHeader {
    margin: 1.5em;

    h2 {
        font-size: 2em;
        margin: 0;
    }
}

main {
    display: flex;
    margin: 1em;
    align-items: flex-start;

    .filters {
        background-color: rgb(255, 255, 255, 0.5);
        margin-right: 1em;

        h3 {
            margin: 0;
            padding: 0.5em;


            &:hover {
                background-color: rgb(0, 0, 255, 1);
            }
        }

        a {
            text-decoration: none;
            color: black;
            margin-bottom: 0.2em;
            cursor: pointer;
            width: 100%;

            &:hover {
                color: white;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;


            li {
                padding: 0.2em 1em;

                &:hover {
                    background-color: rgb(0, 0, 255, 1);
                }
            }
        }

        h4 {
            margin: 0.5em 0 0 0.5em;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 0.9em;
                margin: 1em;
            }

            .inputPrecio {
                display: flex;
                background-color: white;

                input {
                    all: unset;
                    @include input;
                    width: 100%;
                    margin-left: 0.5em;
                }

                p {
                    margin: 0em;
                    padding: 0.3em;
                    font-size: 1.3em;
                }
            }

            button {
                margin: 0.5em 0.5em 0 0;
                align-self: flex-end;
            }
        }

        select {
            @include input;
            margin: 0.5em 0;
        }
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        .productsContainer__card {
            width: 100%;
            height: 190px;
            background-color: var(--var-highlight);
            display: flex;
            margin-bottom: 1.5em;
            box-shadow: -7px 7px black;
            text-decoration: none;

            &:hover {
                animation: cardItemAnimation 0.4s forwards;
            }

            .productsContainer__img {
                width: 150px;
                object-fit: cover;
            }

            .productsContainer__text {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: 1em;
                color: black;
                font-family: 'Chakra Petch', sans-serif;


                .productsContainer__Title {
                    font-size: 1.3em;
                    color: black;
                    text-decoration: none;
                    margin: 0;
                }

                p {
                    margin: 0.2em;
                }

                h4 {
                    margin: 0.2em;
                    color: var(--var-success);
                }

            }
        }
    }
}

.perfilContainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    h3 {
        font-size: 1.8em;
    }


    form {
        align-items: flex-end;
        width: 450px;
        margin-left: auto;
        margin-right: auto;


        label {
            font-size: unset;
            letter-spacing: unset;
            margin-bottom: 0.5em;
        }

        input {
            width: 100%;
        }

        button {
            margin: 1em 0;
        }
    }

}

@keyframes cardItemAnimation {
    from {
        background-color: var(--var-highlight);
    }

    to {
        background-color: white;
    }
}