.orderContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;

    .orden {
        font-weight: bold;
        background-color: var(--var-highlight);
    }

    .orderContainer__item {
        background-color: var(--var-secondary);
        padding: 0.5em;
        margin: 0.5em;

        h4 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .valorCompra {
        align-self: center;
    }
}